@import "../../themes.scss";

.list-container {
    width: 100%;
    height: 70vh;

    .list-search {
        width: 100%;

        input {
            width: 100%;
            font-size: 0.8rem;
            font-weight: 300;
            box-shadow: nb-theme(shadow-color) 0px 2px 6px;
            
            &::placeholder {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid nb-theme(white-color);
    }

    .list-content {
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .list-item {
            height: 3.5rem;
            background: nb-theme(white-color);
            padding: 0.5rem 0 0.5rem;
            margin: 0.5rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            box-shadow: nb-theme(shadow-color) 0px 2px 6px;
            
            &:hover {
                background-color: nb-theme(list-hover-color);
            }

            .method {
                writing-mode: tb;
                text-orientation: upright;
                font-size: 0.7rem;
                color: nb-theme(success);

            }
            .get {
                color: nb-theme(primary);
            }
            .post {
                color: nb-theme(success);
            }
            .put {
                color: nb-theme(warning);
            }
            .delete {
                color: nb-theme(danger);
            }

            .name-and-route {
                display: flex;
                flex-direction: column;
                padding-left: 0.5rem;
                width: -webkit-fill-available;

                .route {
                    font-size: 0.7rem;
                    font-style: italic;
                }
            }

            .actions {
                margin-left: auto;
                padding-right: 0.5rem;
                cursor: pointer;
            }
        }
    }
}
