@import "../../themes.scss";

nb-card-body {
    padding: 0;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.list-search {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid nb-theme(mb-border-color);

    input {
        width: 100%;
        font-size: 0.8rem;
        font-weight: 300;
        display: inline;

        &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
        }
    }
}

.list-content {
    width: 100%;
    height: 62vh;
    overflow-y: scroll;
    padding-bottom: 1rem;

    .list-item {
        height: 3.5rem;
        background: nb-theme(white-color);
        padding: 0.5rem 0 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid nb-theme(mb-border-color);
        padding: 0 0.2rem;
        margin: 0;

        &:hover {
            background-color: nb-theme(list-hover-color);
        }

        &:active {
            background-color: nb-theme(selected-color);
        }

        .method {
            writing-mode: tb;
            text-orientation: upright;
            font-size: 0.7rem;
            color: nb-theme(success);
        }
        .get {
            color: nb-theme(primary);
        }
        .post {
            color: nb-theme(success);
        }
        .put {
            color: nb-theme(warning);
        }
        .delete {
            color: nb-theme(danger);
        }

        .name-and-route {
            display: flex;
            flex-direction: column;
            padding-left: 0.5rem;
            width: -webkit-fill-available;

            .route {
                font-size: 0.7rem;
                font-style: italic;
            }
        }

        .actions {
            margin-left: auto;
            padding-right: 0.5rem;
            cursor: pointer;
        }
    }
    .highlight {
        background-color: nb-theme(selected-color);
    }
}
