@import "../../themes.scss";

nb-card {
    height: 73vh;

    nb-card-header {
        display: flex;

        .actions {
            margin-left: auto;

            button {
                margin-left: 1rem;
            }
        }
    }

    nb-card-body {
        display: flex;
        flex-direction: row;

        .left-pane, .right-pane {
            padding: 0.5rem;
            margin:0.5rem;

            .control {
                padding: 0.25rem;
                margin: 0.25rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label {
                    margin: 0.25rem 0;
                    font-size:  0.9rem;
                }

                nb-select {
                    width: 100%;
                    font-size: 0.8rem;
                    font-weight: 300;

                    &::placeholder {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }

                textarea {
                    width: 100%;
                    font-size: 0.8rem;
                    font-weight: 300;
                    min-height: 30vh;

                    &::placeholder {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }

                input {
                    width: 100%;
                    font-size: 0.8rem;
                    font-weight: 300;

                    &::placeholder {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }
            }
        }
        
        .left-pane {
            width: 40%;
        }

        .right-pane {
            width: 60%;
        }
    }
}

#control-group-body-type-content-type {
    display: flex;

    .control {
        width: 100%;
    }
}

nb-accordion {
    box-shadow: none;
    border: 1px solid nb-theme(mb-border-color);
}


.header-item {
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding: 0.25rem;
        margin: 0.25rem;
        font-size: 0.8rem;
        font-weight: 300;

        &::placeholder {
            font-size: 0.8rem;
            font-weight: 300;
        }

    }

    nb-icon {
        width: 2.4rem;
        cursor: pointer;

        &:hover {
            color: nb-theme(danger);
        }
    }
}

.add-header-button {
    margin-left: auto;
    margin-right: 2rem;
}