<form [formGroup]="mockForm" (ngSubmit)="onSave()">
  <nb-card>
    <nb-card-header>
      <h5>Details</h5>
      <span class="actions">
        <button nbButton type="button" size="small" (click)="onCancel()" status="basic">Cancel</button>
        <button nbButton type="submit" size="small" status="warning">Save</button>
      </span>
    </nb-card-header>
    <nb-card-body>
      <div class="left-pane">
        <div class="control">
          <label for="mock-name">Name</label>
          <input type="text" name="mock-name" id="mock-name" nbInput placeholder="Enter Name" formControlName="name">
        </div>
        <div class="control">
          <label for="mock-route">Route</label>
          <input type="text" name="mock-route" id="mock-route" nbInput placeholder="Enter route"
            formControlName="route">
        </div>
        <div class="control">
          <label for="mock-method">Method</label>
          <nb-select formControlName="method" placeholder="Select Method" select-medium-text-font-size="0.5rem">
            <nb-option *ngFor="let method of methods" [value]="method">{{method}}</nb-option>
          </nb-select>
        </div>
        <div class="control">
          <label for="mock-status">Status</label>
          <input type="number" name="mock-status" id="mock-status" nbInput placeholder="Enter Status"
            formControlName="status">
        </div>
      </div>
      <div class="right-pane">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              <label for="add-header">Headers</label>
              <button nbButton type="button" class="add-header-button" size="tiny" name="add-header" status="primary"
                (click)="onAddHeader($event)">Add</button>
            </nb-accordion-item-header>
            <nb-accordion-item-body  formArrayName="headers">
              <div class="header-item" [formGroupName]="index" *ngFor="let header of mockHeaderFormGroups.controls; let index = index">
                  <input type="text" name="header-key-{{index}}" id="header-key-{{index}}" nbInput placeholder="Key"
                    formControlName="key">
                  <input type="text" name="header-value-{{index}}" id="header-value-{{index}}" nbInput placeholder="Value"
                    formControlName="value">
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>

          <nb-accordion-item>
            <nb-accordion-item-header>
              <label for="">Body</label>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div id="control-group-body-type-content-type">
                <div class="control body-type">
                  <label for="mock-body-type">Body Type</label>
                  <nb-radio-group name="mock-body-type" id="mock-body-type" formControlName="bodyType">
                    <nb-radio [value]="'static'">Static</nb-radio>
                    <nb-radio [value]="'javascript'">JavaScript</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="control content-type">
                  <label for="mock-content-type">Content Type</label>
                  <nb-select formControlName="contentType" placeholder="Select Content Type">
                    <nb-option *ngFor="let contentType of contentTypes" [value]="contentType">{{contentType}}
                    </nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="control">
                <label for="mock-body">Body</label>
                <textarea nbInput name="mock-body" id="mock-body" fullWidth placeholder="Body"
                  formControlName="body"></textarea>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

      </div>
    </nb-card-body>
  </nb-card>
</form>