@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

  primary: #4284f4,
  success: #34A853,
  warning: #FBBC05,
  danger: #EA4335,
  bg-color: #ffffff,
  shadow-color:#d1d1d1,
  white-color: #ffffff,
  black-color: #000000,
  list-hover-color: #cbf3ffb0,
  selected-color: #badbe4b0,
  mb-border-color: #edf1f7,
  text-subtitle-font-weight: 400,
  text-subtitle-font-size: 0.8rem,
  text-subtitle-2-font-weight: 400,
  text-subtitle-2-font-size: 0.8rem,
  header-padding: 0.75rem,
  header-height: 3.5rem,
  footer-text-line-height: 0.9rem,
  footer-padding: 0.75rem,
  input-small-max-width: 50rem,
  input-medium-max-width: 80rem,
  select-medium-max-width: 80rem,
  card-padding: 0.85rem

), default, default);
